@using BookBarcodeReader.Shared.Book
<ul class="list-group">

    @if (Books != null)
        @*<Virtualize Items="@books" Context="book">
    <li>
    @book.Title.ToUpperInvariant() ( @FormatAuthors(book) )
    </li>
    </Virtualize>*@
        @foreach (var book in Books)
        {
            <li class=list-group-item>
                <NavLink href=@("book/" + book.Id) title="Open book detail page" class="nav-link">
                    @book.Title.ToUpperInvariant() ( @FormatAuthors(book) )
                </NavLink>
            </li>

        }

</ul>

@code {
    [Parameter]
    public BookEntity[] Books { get; set; } = new BookEntity[] { };

    private string FormatAuthors(BookEntity book) => 
    book.Authors?.Select(author => author.Name).Aggregate((a, b) => $"{a} - {b}") ?? "";
}
