@using BookBarcodeReader.Shared
@using BookBarcodeReader.Shared.Book
<ul class="list-group">

    @if (searchResult != null)
        @foreach (var result in searchResult)
        {
            <li class="@ItemCss(result)">
                <h4 class="search-result-title">
                    <span>
                        @result.Title
                    </span>
                    <span>
                        <button type="button"
                                class="btn btn-light"
                                @onclick="()=> AddBook(result)">
                            Add
                        </button>
                    </span>
                </h4>

                <div>
                    <span>
                        Language: <b> @result.Language </b>
                    </span>
                    <span>

                        Published Date: @result.PublishedDate
                    </span>
                </div>
                <div>
                    Identifiers: @FormatIdentifiers(result.Identifiers)
                </div>
                <div>
                    @if (result.Images != null)
                    {
                        <img src="@result.Images.SmallThumbnail" />
                    }
                    else
                    {
                        <em>No Image</em>
                    }
                </div>
                <div>
                    Description: @result.Description
                </div>

            </li>

        }

</ul>

@code {
    [Parameter]
    public BarcodeLookupResult[] searchResult { get; set; }

    [Parameter]
    public EventCallback<BarcodeLookupResult> addBook { get; set; }


    private BarcodeLookupResult selected { get; set; }

    private string FormatIdentifiers(IEnumerable<BookIdentifier> identifiers)
    {
        if (identifiers != null)
        {
            return identifiers.Select(identifier => $"{identifier.Type}: {identifier.Value}").Aggregate((a, b) => $"{a}, {b}");
        }
        return string.Empty;
    }

    private string ItemCss(BarcodeLookupResult item)
    {
        var css = "list-group-item";
        return (selected != null && item.Id == selected.Id) ? css + " active" : css;
    }

    private void AddBook(BarcodeLookupResult result)
    {
        selected = result;
        addBook.InvokeAsync(selected);
    }
}
