@using BookBarcodeReader.Shared
@using BookBarcodeReader.Shared.Book
<ul>

    @if (searchResult != null)
        @foreach (var result in searchResult)
        {
            <li>
                <h4>
                    Title: @result.Title
                </h4>

                <div>
                    <span>
                        Language: @result.Language
                    </span>
                    <span>

                        Published Date: @result.PublishedDate
                    </span>
                </div>
                <div>
                    Identifiers: @FormatIdentifiers(result.Identifiers)
                </div>
                <div>
                    @if (result.Images != null)
                    {
                        <img src="@result.Images.SmallThumbnail" />
                    }
                    else
                    {
                        <em>No Image</em>
                    }
                </div>
                <div>
                    Description: @result.Description
                </div>

            </li>

        }

</ul>


@code {
    [Parameter]
    public BarcodeLookupResult[] searchResult { get; set; }

    private string FormatIdentifiers(IEnumerable<BookIdentifier> identifiers)
    {
        if (identifiers != null)
        {
            return identifiers.Select(identifier => $"{identifier.Type}: {identifier.Value}").Aggregate((a, b) => $"{a}, {b}");
        }
        return string.Empty;
    }
}
